
        .crta{
            text-align: center;
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .p1 {
            font-family: Roboto;
            text-align: center;
            font-weight: bold;
            font-size: 35px;
            margin-bottom: -30px;
        }
        .p2{
            font-family: Arial;
            font-weight: bold;
            text-align: center;
            font-size: 35px;
            margin-bottom: 0px;
        }
        .p3{
            font-family: Arial;
            font-style: italic;
            color: red;
            font-size: 20px;
            margin-top: 10px;
            text-align: center;
            margin-bottom: 20px;
        }
        .p4{
            font-family: Vedrana;
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 0;
            text-align: center;}
        .p5{
            font-family: Vedrana;
            color: gray;
            margin-top: 5px;
            font-size: 20px;
            margin-bottom: 25px;
            text-align: center;}
        .p6{
            font-family: Verdana;
            font-size: 15px;
            
            margin-bottom: 30px;
            text-align: center;
        }
    .pocni{
        background-color: green;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 15px;
        border-style: none;
        font-weight: bold;
        font-size: 15px;
        margin-bottom: 0px;
        cursor: pointer;
        transition: opacity 0.15s;
      }
    
    .pocni:hover{
    opacity: 0.7;
    }
    .p7{font-family: Arial;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5px;
        }
    .p8{
        font-family: Arial;
        text-align: center;
        margin-bottom: 10px;
        }
    .p9{
        font-family: Arial;
        text-align: center;
        color: blue;
        text-decoration: underline;
    }
    .ajfon{
        text-align: center;
        font-family: Arial;
    }
    
     .e5{
        color: rgb(228, 159, 33);
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 9px;
        margin-top: 50px;
     }
    .e51{
        font-size: 35px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .e52{
        font-size: 45px;
        font-weight: bold;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .e53{
        margin-top:10px;
    }
    .kupi{
        color: white;
        background-color: rgb(12, 103, 200);
        border-style: none;
        height: 35px;
        width: 85px;
        margin-top: 10px;
        margin-bottom: 30px;
        border-radius: 15px;
        font-weight: bold;
        font-size: 17px;
        cursor: pointer;
        transition: opacity 0.15s;
    }
    .kupi:hover{
        opacity: 0.7;
    }
        .pare{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
    }
    
    .dolari{
    color: grey;
    font-size:20px;
    margin-left: 4px;
    }
    .postotci{
        margin-top: 6px;
        margin-bottom: 8px;
        color: green;
        }
    .siva{
        margin-top: 0px;
        color: grey;
        margin-bottom: 15px;
    }
    .crvena{
        color: crimson;
    }
    .thumbnails{
        width: 40px;
        height: 40px;
        object-fit: cover;
        object-position: left;
        border-radius: 300px;
        vertical-align: middle;
        
    }
    .searchbar{
        height: 40px;
        width: 300px;
        vertical-align: middle;
        border-style: none;
        font-size: 15px;
        padding-left: 10px;
        color: gray;
    }
    .tvitaj{
        background-color: rgb(10, 117, 174);
        border-style: none;
        color: white;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px;
        margin-left: -90px;
        cursor: pointer;
        transition: opacity 0.15s;
        font-weight: bold;
        margin-bottom: 100px;
    }
    .tvitaj:hover{
        opacity: 0.7;
    }
    .tvitaj:active{
        opacity: 0.4;
    }
    .linkedln{
        margin-top: 0px;
        margin-bottom:0px;
    }
    .p41{
    margin-bottom: 5px;
 
      
    }
    
    .i21{
        height: 20px;
        width: 370px;
        border-style: solid;
    
    }
    .p22{
        margin-top: 10px;
        margin-bottom: 15px;
    
    }
    .b11{
        background-color: rgb(0, 60, 255);
        border-style: none;
        color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 380px;
        border-radius: 30px;
        font-weight: bold;
        cursor: pointer;
        transition: opacity 0.15s;
    
    }
    .b11:hover{
        opacity: 0.7;
    }

    .uber{
        font-family: Roboto;
        color: black;
        font-weight: bold;
        vertical-align: middle;
        font-size: 35px;
        margin-left: 5px;
        margin-bottom: 11px;
       
    }
    .uber-input {
        display: block;
        align-items: center;
        border-radius: 4px;
        margin: auto;
        margin-bottom: 10px;
        border-style: none;
        background-color: rgb(223, 220, 220);
        width: 350px;
        height: 38px;
        font-size: 20px;
        padding-left: 10px;
        
      }
      
  .za-oba{
    padding: 20px;
    border-radius: 5px;
    font-size: 15px;
        transition: opacity 0.15s;
}
.za-oba:hover{
    opacity: 0.8;
}
.za-oba:active{
    opacity: 0.5;
}
  .uber-request{
    margin-top: 14px;
    margin-left: 5px;
background-color: black;
color: white;
border-style: none;
margin-right: 15px;
border-style: none;


  }
  .scheduele-later{
  background-color: gainsboro;
  border-style: none;
 
}
.container-facebook:hover{
    box-shadow: 5px 5px 20px rgb(54, 54, 205);

}
.container-facebook{

border-radius: 10px;
width: 180px;
height: 250px;
display: inline-block;
margin-right: 10px;
overflow: hidden;
transform: box-shadow 0.15s;
}
.container-facebook img{
width: 180px;
height: 120px;
object-fit: cover;


}
.container-facebook-name{
font-weight: bold;
font-size: 25px;
padding-top: 5px;
padding-left: 5px;
vertical-align: top;

}

.container-facebook-mutal-friends{
padding-left: 5px;
color: grey;
margin-top: 10px;
font-size: 17px;
vertical-align: top;

}

.container-facebook-add-friend{
padding-left: 5px;
margin-top: 15px;
margin-left: 3px; 
vertical-align: top;

}
.container-facebook-add-friend-button{
background-color: blue;
color: white;
padding-left: 12px;
padding-right: 12px;
padding-top: 8px;
padding-bottom: 8px;
border-radius: 5px;
font-weight: bold;
cursor: pointer;
transition: opacity 0.15s;
border-style: none;


}
.container-facebook-add-friend-button:hover{
opacity: 0.5;
}
.kontenjer{
    width: 350px;
    height: 100px;
    display: inline-block;
    background-color: rgba(235, 237, 240, 0.244);
    border-radius: 15px;
}
.profile-picture{
    margin-top: 10px;
    height: 100px;
    width: 85px;
    display: inline-block;
    
    
}
.profile-picture img{
    width: 80px;
    height: 80px;
    object-fit: cover;
   
    border-radius: 80%;
   
    
    
    
}
.text-based{
    
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
   
      
    
}
.text-based p{
    
    margin: 0;
    font-family: Roboto , Arial;
    padding: 2px;
    width: 100px;
    
}
.name{font-weight: bold;
    font-size: 20px;

}
.animal, .Popular{
    color: rgb(171, 168, 168);
    font-size: 18px;

}
.botun{
    height: 100%;
    display: inline-block;
    margin-left: 35px;
   vertical-align: middle;
   
    
}
.botun button{
    background-color: rgb(23, 117, 210);
    color: white;
    font-weight: bold;
    border-style: none;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    margin-left: 10px;
    transition: opacity 0.15s;
    cursor: pointer;
}
.botun button:hover{
    opacity: 0.7;
}